# ---------------------------
# Virtual Environment
# ---------------------------
.venv/
.env

# ---------------------------
# Python Cache
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# IDE Settings
# ---------------------------
.idea/
.vscode/

# vector databases
vector_store/
src/rag/vector_store/
# ---------------------------
# Data Files (Generated)
# ---------------------------
data/raw/*
data/archive/*
data/cache/

# Ignore intermediate pipeline files
cleaned_news.csv
news_master_dataset.csv
news_with_topics.csv
finbert_output.csv
finbert_summary.json


# Keep folder structure
!data/raw/.gitkeep
!data/archive/.gitkeep
# OS
.DS_Store
Thumbs.db